.row {
    margin: auto;
    justify-content: center;
}

.card {
    background-color: getColour(light);
    border: none;
    height: 13.5em;
    width: 13.5rem;
    margin: 10px;
}

.bg-pink {
    background-color: getColour(pink);
    border: solid 3px getColour(white);
}

.bg-white {
    border: solid 3px getColour(pink);
}


